body{
    /* background-color: #deeff6; */
    background-color: #eff5f7;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#footer h1,#footer h2,#footer h3,#footer h4,#footer h5,#footer h6,h1,h2,h3,h4,h5,h6{
    color: #1282a8;
    letter-spacing: 2.5px;
    font-weight: 300;
}
.nav-container{
    height: 50px;
    border: 1px solid #ddd;
}
.nav-container {
   box-shadow:  2px -1px 11px 0px #2a92c2;
    height: 5.5rem;
}

.logo {
    height: 100%;
    width: auto;
}
a.logo{
    cursor: pointer;
}
.team-picture{
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    justify-content: center;
    align-self: center;
    margin:auto
  
}

.logo img {
    height: 100%;
    padding: 0.5rem 0 0.5rem 0;
}
.body-container{
    height : calc(100% - 8rem);
        overflow: auto;
}
.section__description.intro__bg--art  {
    background: url("../assets/Ajay.png") top right no-repeat;
    height: 90vh;
    width: 100%;
}

    .section-fullHeight{
        height: 100vh;
        width: 100%;
    }
    .section__description {
      
        position: relative;
    }
    
    .section__description.d-flex.flex-column.justify-content-center:before {
        position: absolute;
        content: "";
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: url(../assets/Ajay.png) top right no-repeat;
    }

    h1.section__header {
        color: #1282a8;
        font-size: 3rem;
    }
    
    .section__subtitle {
        font-size: 1.25rem;
        letter-spacing: 0.85px;
    }
  


.category__card.card {
    margin: 1rem 0 1rem 0;
    background: none;
    transition: transform .3s ease;
    cursor: pointer;
    border-radius: 0;
    border-color: #3183a85c;
    
}
.category__card.card:hover,.category__panel:focus .category__card.card{
    box-shadow: 0px 2px 6px 0px #3183a887;
    transform: scale(1.05);
}
.img-responsive {
    width: 100%;
    height: auto;
}

.category__panel{
    display: flex;
}
.glightbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    background-color: #c9efff21;
}
.icon-width{
    position: absolute;
    width:5rem;
    height: 5rem;
    top: calc( 50% - 1.25rem);
    left:calc( 50% - 2.5rem);

}
.fa-icon{
   position: absolute;
    top: calc( 50% - 1.75rem);
    left: calc( 50% - 2.5rem);
    font-size: 5rem;
    color: #3183a8;
}
.fa-long-icon{
    left:calc( 50% - 3rem);
}

span#typedAnim {
    color: #3183a8;
    letter-spacing: 1px;
}

span.typed-cursor {
    color: #3183a8;
}



/* Footer Styles */
#footer {
    background: #edfaffab;
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  }
  #footer h3 {
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
  }
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #3183a8;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .social-links a:hover {
    background: #64afc9;
    color: #fff;
    text-decoration: none;
  }
  #footer .copyright {
    margin: 0 0 5px 0;
  }
  #footer .credits {
    font-size: 13px;
  }
  a[href],.glightbox{
      cursor: pointer;
  }
  a.category__panel {
    text-decoration: none;
}

.reflection--align-center{
    align-self: center;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.figmaWrapper{
    float: none;
    clear: both;
    width: 100%;
    padding: 25%;
    height: auto;
    position: relative;
    height: 0;
}
.figmaWrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.show-small-Figma{
    display: none;
}
@media  screen and (min-width:768px) and (max-width:946px) {
    h1.section__header {
        font-size: 2rem;
    }
    .section__subtitle{
        font-size: 1rem;
    }
   
}
@media  screen and (min-width:0px) and (max-width:767px) {
    .section__description.intro__bg--art  {
        background: url(../assets/Ajay.png) no-repeat top;
        height: unset;
        background-size: 50vh auto;
        margin-bottom: 1rem;
}
.figmaWrapper{
    display: none;
}
.show-small-Figma{
    display: block;
}
.section__header {
    font-size: 1.5rem;
}
.section__description > h1.container.section__header {
    margin-top: 55vh;
}
.team-picture{
    width: 100%;
    display: block;
 
}
img.card-img-top.my-3 {
    height: 300px;
    width: 100%;
}
}